<div class="header">
      <div class="container">
        <h1>threadly</h1>
      </div>
    </div>

    <div class="main">
      <div class="container">
        
        <%= form_for(@new_post) do |f| %>
             <div class="field">
             
             <%= f.text_area:comment, :placeholder => "Share your Thaughts" %> 
               </div>

               <div class="submit">
                 <%= f.submit "POST", :disable_with => 'posting...' %>
               </div>
               <% end %>
               

        
        <ul class="comments">
        <% @all_posts.each do |p| %>

          <li ><%= p.comment %></li>
          <% end %>
        </ul>

      </div>
    </div>